# Rust
target/
Cargo.lock

# IDE
.idea/
*.iml
.vscode/
*.swp
.nvim/
*.swo

# Docker
.docker

# Environment
.env
.env.*

# Logs
logs/

# Data
data/

# OS
.DS_Store
Thumbs.db

# Profiling / debugging
perf.data
perf.data.old
flamegraph.svg